<h1>All Shelters</h1>

<% @shelters.each do |shelter| %>
  <h3><a href="/shelters/<%= shelter.id %>"><%= shelter.name %></a></h3>
  <%= link_to "Edit Shelter Info", "/shelters/#{shelter.id}/edit" %>
  <%= link_to "Delete Shelter", "/shelters/#{shelter.id}", method: :delete%>
<% end %>


<h4> <br><a href="/shelters/new">New Shelter</a></h4>
